In [39]:
import numpy as np
import pandas as pd
data = {
    "Normal": [67, 70, 63, 65, 68, 60, 70, 69, 61, 70, 65, 71, 70, 65, 68, 71, 63, 62, 68, 63, 67, 64, 65, 63, 64],
    "Skewed-right": [69, 62, 43, 59, 59, 65, 60, 55, 46, 67, 57, 61, 41, 34, 36, 37, 45, 38, 30, 28, 66, 26, 23, 25, 34],
    "Skewed-left": [31, 24, 29, 30, 24, 38, 35, 33, 36, 40, 29, 35, 29, 41, 42, 30, 31, 26, 33, 31, 34, 30, 22, 25, 28],
    "Uniform": [40, 55, 29, 30, 30, 36, 50, 29, 44, 29, 41, 39, 44, 41, 43, 41, 35, 42, 35, 34, 32, 41, 34, 40, 37]
}

def raw_moment(data, order):
    return np.mean([x**order for x in data])
    
def central_moment(data, order):
    mean = np.mean(data)
    return np.mean([(x-mean) ** order for x in data])

def moment_num(data, num, order):
    return np.mean([(x-num) ** order for x in data])
    
raw_result = {key: [raw_moment(values, i) for i in range(1,5)] for key, values in data.items()}
central_result = {key: [central_moment(values, i) for i in range(1, 5)] for key, values in data.items()}
moments_75 = {key: [moment_num(values, 75, i) for i in range(1, 5)] for key, values in data.items()}

def verify_rel(moment_data, central_data):
    m1_pr, m2_pr, m3_pr, m4_pr = moment_data
    m2_calc = m2_pr - m1_pr**2
    m3_calc = m3_pr - 3 * m1_pr * m2_pr + 2 * m1_pr**3
    m4_calc = m4_pr - 4 * m1_pr * m3_pr + 6 * m1_pr**2 * m2_pr - 3 * m1_pr**4
    
    return {
        "m2_calculated": m2_calc,
        "m2_central": central_data[1],
        "m3_calculated": m3_calc,
        "m3_central": central_data[2],
        "m4_calculated": m4_calc,
        "m4_central": central_data[3]
    }
verify_results = {key: verify_rel(moments_75[key], central_result[key]) for key in data.keys()}

In [36]:
df_moments_raw = pd.DataFrame(raw_result, index = 
                         ["1st Moment (Mean)",
                          "2nd Moment (Variance)",
                          "3rd Moment (Skewness)", 
                          "4th Moment (Kurtosis)"])
df_moments_mean = pd.DataFrame(central_result, index = 
                         ["1st Moment (Mean)",
                          "2nd Moment (Variance)",
                          "3rd Moment (Skewness)", 
                          "4th Moment (Kurtosis)"]).round(2)
df_moments_75 = pd.DataFrame(moments_75, index = 
                         ["1st Moment (75)",
                          "2nd Moment (75)",
                          "3rd Moment (75)", 
                          "4th Moment (75)"]).round(2)
df_verify = pd.DataFrame(verify_results).T

## Raw Moments Table

In [34]:
display(df_moments_raw)

                            Normal  Skewed-right  Skewed-left     Uniform
1st Moment (Mean)            66.08         46.64        31.44       38.04
2nd Moment (Variance)      4377.04       2393.52      1015.84     1489.16
3rd Moment (Skewness)    290617.52     131881.04     33698.16    59997.72
4th Moment (Kurtosis)  19341112.24    7634138.16   1146164.32  2487276.68

From this table, we can conclude that:

- The mean from the normal dataset is relatively high, which means that the values cluster around a higher range. The fourth moment shows that the normal distribution has significantly higher values than the others, indicating heavier tails.

## Central Moments Table

In [37]:
display(df_moments_mean)

                       Normal  Skewed-right  Skewed-left  Uniform
1st Moment (Mean)        0.00         -0.00        -0.00     0.00
2nd Moment (Variance)   10.47        218.23        27.37    42.12
3rd Moment (Skewness)   -1.47       -109.26        39.35   145.71
4th Moment (Kurtosis)  197.75      74351.79      1829.68  5494.24

From this table, we can conclude that:

- The variance for the normal distribution is the lowest, indicating that its values are more clustered around the mean. The skewed right has the highest variance,  which means the data has a wider spread. The normal distribution is well-behaved with low variance and skewness, while the skewed-right has a long left tail. The skewed left has a significant right tail, and the uniform distribution is balanced.

## Moments about 75 table

In [38]:
display(df_moments_75)

                   Normal  Skewed-right  Skewed-left     Uniform
1st Moment (75)     -8.92        -28.36       -43.56      -36.96
2nd Moment (75)     90.04       1022.52      1924.84     1408.16
3rd Moment (75)   -991.48     -41485.96    -86190.84   -55013.28
4th Moment (75)  11581.24    1786751.16   3906941.32  2195235.68

The normal distribution is closer to 75, while the skewed-left has the largest negative deviation, suggesting that most values are below 75.

Skewed left has the highest variance, indicating a wide spread of values around 75, while the normal distribution has the lowest, meaning that it is more concentrated around 75.

The skewed left has the most significant negative skewness, indicating that it has a large concentration of values below 75. 

The skewed left and skewed right has a very high kurtosis

## Verification Results Table

In [17]:
display(df_verify)

,m2_calculated,m2_central,m3_calculated,m3_central,m4_calculated,m4_central
Normal,10.4736,10.4736,-1.474176,-1.474176,197.749509,197.749509
Skewed-right,218.2304,218.2304,-109.264512,-109.264512,74351.786348,74351.786348
Skewed-left,27.3664,27.3664,39.351168,39.351168,1829.675653,1829.675653
Uniform,42.1184,42.1184,145.705728,145.705728,5494.242744,5494.242744

Since all of the calculated values of the second, third, and fourth moments are consistent, it verifies the relationship between them.